/* Header */
.header {
    display: flex;
    position: relative;
    align-items: center;
}

.header img {
    height: 10%;
    margin: 12px;
}

/* Navigation Menu */

.menu {
    position: relative;
    top:20%;
    background-color: royalblue;
    overflow: hidden;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: rgb(39, 82, 212);
    color: white;
}

.active {
    background-color: royalblue;
    color: white;
}

/* About us */

#aboutUs img {
    width: 100%;
}

/* Contact Button */

#contact-btn {
margin-left: auto;
margin-right: 40px;
background: royalblue;
color: white;
padding: 10px;
border: none;
border-radius: 4px;
cursor: pointer;
}

#contact-btn:hover {
    transition-duration: 0.4s;
    background-color: rgb(20, 67, 207);
    color: black;
}

#contact-btn:focus {outline:0;}

#contact-btn a {
    color: white;
    text-decoration: none;
}